name: Build and Push project to Nuget.org
on:
  push:
    branches:
      - main
  
jobs:
  build-test-and-deploy:
    runs-on: ubuntu-latest

    steps:

      - name: Get files for branch main
        uses: actions/checkout@v4
        with:
          ref: main

      - name: Set up .NET Core
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: "10.0.x"
    
      - name: Build projects in Release
        run: dotnet build --configuration Release

      - name: Run Tests from projects
        run: dotnet test

      - name: Build Pack from Release MediatVP project    
        run: dotnet pack ./src/MediatVP/MediatVP.csproj --configuration Release -o ./dist

      - name: Build Pack from Release MediatVP.Abstractions project    
        run: dotnet pack ./src/MediatVP.Abstractions/MediatVP.Abstractions.csproj --configuration Release -o ./dist

      - name: Push Packages in Nuget.org
        run: dotnet nuget push "./dist/*.nupkg" --api-key ${{ secrets.NUGET_TOKEN }} -s https://api.nuget.org/v3/index.json --skip-duplicate




